
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us.</title>
</head>
<body>
 <!-- <nav class="navbar bg-light bsb-navbar bsb-navbar-caret"> 
    <div class="container position-relative justify-content-center">
      <a class="navbar-brand" href="index.html">
        <img src="./assets/img/logo.png" alt="Logo" width="135" height="44">
      </a>
      <button class="navbar-toggler border-0 position-absolute start-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#!">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav> -->
<section class="py-3 py-md-5">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="./assets/img/aboutus.jpg" alt="About 1">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="mb-3">What we believe in</h2>
              <p class="lead fs-4 text-secondary mb-3">Transforming education with community, cohorts and coaches</p>
              <div class="row gy-4 gy-md-0 gx-xxl-5X">
                <div class="col-12 col-md-6">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                    </div>
                    <div>
                      <h2 class="h4 mb-3">Transparency</h2>
                      <p class="text-secondary mb-0">We believe in bringing transparency about processes to our entire community including students, coaches and hiring partners.</p>
                    </div>
                  </div>
                </div> <div class="col-12 col-md-6">
                    <div class="d-flex">
                      <div class="me-4 text-primary">
                      </div>
                      <div class="mb-5">
                        <h2 class="h4 mb-3">Empathy</h2>
                        <p class="text-secondary mb-0">We understand that our students may come from varied experiences and backgrounds. Thus we inculcate high empathy for learners during their entire journey with us.</p>
                      </div>
                    </div>
                  </div> <div class="col-12 col-md-6">
                    <div class="d-flex">
                      <div class="me-4 text-primary">
                      </div>
                      <div>
                        <h2 class="h4 mb-3">Quality</h2>
                        <p class="text-secondary mb-0">We believe in imparting high quality training and learning platforms to ensure optimal learning outcomes for our students.</p>
                      </div>
                    </div>
                  </div>
                <div class="col-12 col-md-6">
                  <div class="d-flex">
                    <div class="me-4 text-primary">

                    </div>
                    <div>
                      <h2 class="h4 mb-3">Collaboration</h2>
                      <p class="text-secondary mb-0">We believe in collaboration over competition. This is important for our community to collaborate and learn with each other.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<footer class="pt-3 pt-md-4 pt-xl-5">

    <div>
      <div class="container">
        <div class="row gy-3 align-items-center">
          <div class="col-12 col-sm-5 col-md-4 col-lg-3">
            <div class="footer-logo-wrapper text-start">
              <a href="index.html">
                <img src="./assets/img/lms-bg.png" alt="Logo" width="180" height="200">
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-7 col-md-8 col-lg-9">
            <div class="social-media-wrapper">
              <ul class="m-0 list-unstyled d-flex justify-content-start gap-4">
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <section class="py-4 py-md-5 py-xl-6">
      <div class="container">
        <div class="row gy-3">
          <div class="col-12 col-lg-7 col-xl-6">
            <div class="widget">
              <h4 class="widget-title mb-3">Subscribe to Our Comunnity</h4>
              <p class="mb-4">
                Don't miss out on the opportunity to be part of something great. <br>
                Subscribe now and let the journey begin!
              </p>
              <form action="#!">
                <div class="row gy-4">
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <span class="input-group-text" id="email-newsletter-addon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                        </svg>
                      </span>
                      <input type="email" class="form-control" id="email-newsletter" value="" placeholder="Email Address" aria-label="email-newsletter" aria-describedby="email-newsletter-addon" required>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8">
                    <div class="d-grid mb-3 mb-lg-0">
                      <button class="btn btn-danger" type="submit">Subscribe</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-6 col-lg-2 col-xl-2">
            <div class="link-wrapper">
              <ul class="m-0 list-unstyled">
                <li class="mb-3">
                  <a href="#!" class="link-dark text-decoration-none link-opacity-75-hover">
                    Our Values
                  </a>
                </li>
                <li class="mb-3">
                  <a href="#!" class="link-dark text-decoration-none link-opacity-75-hover">
                    About Us
                  </a>
                </li>
                <li class="mb-3">
                  <a href="#!" class="link-dark text-decoration-none link-opacity-75-hover">
                    Success stories
                  </a>
                </li>
                <li class="mb-3">
                  <a href="#!" class="link-dark text-decoration-none link-opacity-75-hover">
                    Hire form us
                  </a>
                </li>
                <li class="mb-3">
                  <a href="#!" class="link-dark text-decoration-none link-opacity-75-hover">
                    Community 
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-lg-3 col-xl-4">
            <div class="link-wrapper">
              <ul class="m-0 list-unstyled">
                <li class="mb-3">
                  <a href="#!" class="link-dark text-decoration-none link-opacity-75-hover">
                    Certification in Full Stack Data Science and AI
                  </a>
                </li>
                <li class="mb-3">
                  <a href="#!" class="link-dark text-decoration-none link-opacity-75-hover">
                    Certification in Full Stack Web Development
                  </a>
                </li>
                <li class="mb-3">
                  <a href="#!" class="link-dark text-decoration-none link-opacity-75-hover">
                    Masters Program in Data Science and Artificial Intelligence
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <div class="py-3 py-md-4 py-xl-5 bg-light">
      <div class="container text-center">
        <div class="row g-3 align-items-center">
          <div class="col-12 col-lg-6 order-1 order-lg-0 text-center">
            <div class="copyright-wrapper d-block mb-1 fs-8 text-center text-lg-start">
              &copy; 2024 Quantumsoft.
            </div>
            <div class="credit-wrapper d-block text-secondary fs-8 text-center text-lg-start">
              Built by<a href="https://bootstrapbrain.com/" class="link-secondary text-decoration-none">
                Quantumsoft</a> with <span class="text-danger">&#9829;</span>
            </div>
          </div>
          <div class="col-12 col-lg-6 order-0 order-lg-1">
            <div class="link-wrapper">

            </div>
          </div>
        </div>
      </div>
    </div>
  
  </footer>
</body>
</html>
<app-footer></app-footer>
